{% if active_tab != "ask" %}
{% spaceless %}
<div
    class="{% if query %} cancelable{% endif %}"
>
    {# url action depends on which tab is active #}
    {% if active_tab == "tags" %}
        <input type="hidden" name="t" value="tag"/>
        {% set query=stag %}
    {% elif active_tab == "users" %}
        <input type="hidden" name="t" value="user"/>
    {% endif %}
    <input class="form-control mr-sm-2"
        type="text"
        autocomplete="off"
        value="{{ query|default_if_none('')|escape }}"
        name="query"
        placeholder="{% trans %}搜索{% endtrans %}"
        id="keywords"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</div>
{% endspaceless %}
{% endif %}
