<!-- template secondary_header.html -->
<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#collapseHeader"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            {# form is wrapping search buttons and the search bar inputs #}
            {% set enabled_scopes_class = 'scopes-' +
                '%s'|format(settings.ALL_SCOPE_ENABLED) + '-' +
                '%s'|format(settings.UNANSWERED_SCOPE_ENABLED) + '-' +
                '%s'|format((request.user.is_authenticated() and settings.FOLLOWED_SCOPE_ENABLED)) %}


            {# width 1 means that cell will expand just enough to fit the contents #}
            <ul class="nav navbar-nav pull-left">
                <li class="pull-left ml15"><a href="{% url questions %}"><span class="glyphicon glyphicon-home"></span></a>
                </li>
                {% include "widgets/scope_nav.html" %}
                {# width * means that the cell takes the remaining table width #}
            </ul>

        </div>

        <div class="collapse navbar-collapse" id="collapseHeader">
            <form
                {% if active_tab == "tags" %}
                    action="{% url tags %}"
                {% elif page_class == 'user-profile-page' %}
                    action="{% url questions %}"
                {% elif active_tab == "users" %}
                    action=""
                {% else %}
                    action="{% url questions %}"
                {% endif %}
                    class="navbar-form navbar-left"
                    method="get">
                <span>{% include "widgets/search_bar.html" %}</span>

                {% if settings.ASK_BUTTON_ENABLED %}
                    <span>
                {% include "widgets/ask_button.html" %}
            </span>
                {% endif %}
            </form>
        </div>
    </div>
</nav>
